<h1>Listing argument_connections</h1>

<p class="argument-connection preview"><% @argument_connections.each do |argument_connection| %>
  <tr>
    <td><%= link_to 'Show', argument_connection %></td>
    <td><%= link_to 'Edit', edit_argument_connection_path(argument_connection) %></td>
    <td><%= link_to 'Destroy', argument_connection, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</p>

<%= link_to 'New Argument connection', new_argument_connection_path %>
