<h1>Listing argument_nodes</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @argument_nodes.each do |argument_node| %>
  <tr>
    <td><%= link_to 'Show', argument_node %></td>
    <td><%= link_to 'Edit', edit_argument_node_path(argument_node) %></td>
    <td><%= link_to 'Destroy', argument_node, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Argument node', new_argument_node_path %>
